.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    * {
      margin: 0px;
      box-sizing: border-box; 

    }
    body {
        max-width: 375px;
        background-color:hsl(210, 46%, 95%) ;
        font-size: 30px;
        font-family: "Barlow Semi Condensed";
        font-weight:100;

    }
    .container {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: 'one'
        'two' 'three' 'four' 'five';
        align-content: center;
    }
    .quote {
        position:absolute;
     height: 110px;
            top: 100px;
            left: 250px;
            opacity:.7;
            width:100px;

    }
    .dan {
       margin: 100px 0px 0px 20px;
    
    border-radius: 10px;  
       width:340px;
       padding: 30px 40px 0px 30px;
      height: 430px;
      color: white;
      background-color:hsl(263, 55%, 52%) ;
     grid-area: one;

      
    
    } 
    .kira .name p, .dan .name p, .jona .name p, .jean .name p, .pat .name p {
        
        padding-top: 0px;
    }
    .dan p{ 
        font-size: 14px;
        padding: 20px 0px 0px 0px;
        font-weight: 10;
        color:hsl(0, 0%, 81%, .5) ;
    }
    .name {
        font-size: 16px;
        padding: 0px 0px 0px 45px;
     margin-block-end: 15px;

    }
    .pp {
        width: 30px;
        float: left;
        border-radius: 30px;
        border: 2px solid hsl(0, 0%, 81%);
    }
.jona {
    
    margin: 25px 0px 0px 20px;
    width: 340px;
    height: 240px ;
    background-color:hsl(217, 19%, 35%) ;
    color: whitesmoke;
    padding: 30px 30px 0px 30px;
    border-radius: 10px;
    grid-area: two;
    
}
.jona p{
    font-size: 14px;
    padding: 20px 0px 0px 0px;
    color:hsl(0, 0%, 81%, .5);

}
.jean {
    width: 340px;
    height: 225px;
    margin: 25px 0px 0px 20px;
    background-color: hsl(0, 0%, 100%);
    color:hsl(217, 19%, 35%);
    padding:30px 50px 0px 30px;
    border-radius: 10px;
    grid-area: three;
    
}
.jean p {
    font-size: 14px;
    padding:20px 0px 0px 0px;
}
.pat {
    width: 340px;
    height: 375px;
    margin: 25px 0px 0px 20px;
    background-color:hsl(219, 29%, 14%) ;
    color: white;
    padding: 30px 30px 0px 30px;
    border-radius: 10px;
    grid-area: four;

}
.pat p{
    font-size: 14px;
    color:hsl(0, 0%, 81%, .5) ;
    padding-top: 20px;
}
.kira {
    border-radius: 10px;
    width: 340px;
    height: 430px;
    margin: 25px 0px 70px 20px;
    padding: 30px 30px 0 30px;
    color: hsl(217, 19%, 35%) ;
    background-color: white;
    grid-area: five;
}
.kira p {
    font-size: 14px;
    padding-top: 20px;
}
@media screen and (min-width:37.5rem){
    .container{
    grid-template-columns : 1fr 1fr;
    grid-template-areas: 
    'one one'
    'two five'
    'three five'
    'four four';

    }
}
@media screen and (min-width:66rem){
    .container {
        grid-area: 1fr 1fr 1fr 1fr;
        padding: 0px;
        width: min(90%, 66rem);
        grid-template-areas: 'one one two five'
        'three four four five';
    }
    .dan {
        width:600px;
        height:280px;
    }
    .quote {
        left: 400px
    }
    .jean {
        height: 300px;
        width: 300px;
        
    }
    .pat {
        width: 600px;
        height:300px;
    }
    .jona {
        margin: 100px 0px 0px -20px;
        width: 317px;
        height: 280px;

    }
    .kira {
        margin: 100px 0px 0px 0px;
        width : 300px;
        height: 630px;
    }
    .kira p {
        margin : 20px 35px 0px 10px;
        
    }
    
}